# PostgreSQL Configuration
DB_NAME=estacionservicio
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-cti)k$hd)k(12&bokxme^m_sd+s%3bz8q5lzmt5g+5m_1#)a(j
